<secton id="about-section">
    <h1>about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dicta ducimus autem possimus enim facere reiciendis vel quis iure natus sed exercitationem nihil tempore, eaque sint nisi voluptatem, accusantium mollitia!</p>
</secton>