<section id="login-section">
    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card">
                    <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Log In to <span class="text-primary">Xpedian</span></h5>
                        <form action="/user/login" method="POST">
                            <div class="my-3">
                                <label for="email" class="mb-1">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" name="email" autofocus value="{{userInput.email}}">
                            </div>
                            <div class="my-3">
                                <label for="password" class="mb-1">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password" value="{{userInput.password}}">
                            </div>
                            <button type="submit" class="btn btn-success d-md-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg> 
                                Log In
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if errors}}
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>
                    <h4 class="alert-heading">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> Error
                    </h4>
                    {{#each errors}}
                        · {{this}} <br> 
                    {{/each}}
                    <hr>
                </strong>
                <p class="mb-0 text-muted">Please try again.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/if}}
    </div>
</section>

