body {
    background-color: rgb(41, 45, 62);
    min-width: 500px;
}

.carousel-item {
    width: 100%;
}

.carousel-caption {
    opacity: 0.8;
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

.property-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.property-card img {
    width: 350px;
    height: 250px;
    margin: 10px;
    object-fit: cover;
}

.location-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.location-card img {
    width: 350px;
    height: 250px;
    margin: 10px;
}

.content-card-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .content-card-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    }
    .content-card-caption {
        display: none;
    }
}

.login-form-container {
    width: 40%;
}

.listing-card:hover {
    background-color: rgb(236, 243, 254);
}

.listing-pic {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin: 10px;
}

@media (max-width: 990px) {
    .listing-pic {
        width: 90%;
        margin: 10px;
    }
}

.details-pics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details-pic img {
    width: 11rem;
    height: 11rem;
    margin: 10px;
    margin-left: 0;
    margin-top: 0;
    object-fit: cover;
}

.details-large-pic {
    width: 90%;
    margin-bottom: 10px;
    object-fit: cover;
}